.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriendImg {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}